{% load static %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script>
        function mostrarSenha(){
            var senha1 = document.getElementById("boxSenha1");
            var senha2 = document.getElementById("boxSenha2");
            if (senha1.type === "password") {
                senha1.type = "text";
                senha2.type = "text";
            } else {
                senha1.type = "password";
                senha2.type = "password";
            }
        }
    </script>
    <title>Redefinir Senha</title>
</head>
<body>

    <div class="container">
        <form method="post" class="formulario" spellcheck="false">
            {% csrf_token %}
            <div class="logo">
                <img src="{% static 'images/logomarcafundarpe.png' %}" alt="Logomarca Fundarpe">
            </div>
            Determine uma nova senha para sua conta.
            {% if error %}
                <p class="error">{{ error }}</p>
            {% endif %}
    
            <div class="elementos">
                <label for="senha">Nova Senha</label>
                <input type="password" name="nova_senha" placeholder="Digite a nova senha" id="boxSenha1">
            </div>

            <div class="elementos">
                <label for="senha">Confirmar Senha</label>
                <input type="password" name="confirmar_senha" placeholder="Confirme a nova senha" id="boxSenha2">
            </div>
            <!-- Resto do seu código -->
    
            <div class="elementos">
                <label class="switch">
                    <input type="checkbox" name="switch" onclick="mostrarSenha()">
                    <span class="slider"></span>
                </label>
            </div>
            <label for="switch" class="frase_caixa">Mostrar senha!</label>
    
            <div class="elementos">
                <input type="submit" value="Redefinir Senha" class="botão">
            </div>
            
            <div class="elementos">
                <a href="{% url 'login' %}" class="alinhado1">Voltar para o login</a>
            </div>
        </form>
    </div>

</body>
</html>