{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'adm.css' %}">
  <script src="{% static 'barraPesquisa.js' %}" type="text/javascript" refer></script>
  <title>Fundarpe - Admin</title>
</head>
<body>
    <br>
  <img src="{% static 'images/logomarcafundarpe.png' %}" alt="Logo da UNAT">
  <h1>Administração</h1>

  <div class="menu">
    <button id = "myBtn" class="myBtn menu-btn" onclick="showList('listaProjetos')">Projetos</button>
    <button id = "myBtn" class="myBtn menu-btn" onclick="showList('listaPagamentos')">Pagamentos</button>
    <button id = "myBtn" class="myBtn menu-btn" onclick="showList('listaDepartamentos')">Departamentos</button>
  </div>
  
  <div id="listaProjetos" class="listaProcessos">
    <input type="text" id="myInput" onkeyup="filterProjects()" placeholder="Pesquisar Processo">
    
    <ul id="myUL">
      {% for projeto in projetos %}
      <li>
        {{ projeto.n_projeto }} - {{ projeto.titulo_projeto }}
        <a href="#" class="editar" data-n_projeto="{{ projeto.n_projeto }}">Editar</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  </div>
  
  <div id="listaPagamentos" class="listaProcessos" style="display: none;">
    <h2 style="margin-bottom: 5px;">Pagamentos</h2>
    <table id="tabelaPagamentos">
      <thead>
        <tr>
          <th>Projetos</th>
          <th>Valor</th>
          <th>Parcelas Totais</th>
          <th>Parcelas Pagas</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {% for pagamento in pagamentos %}
        <tr>
            <td>{{ pagamento.n_projeto.titulo_projeto }}</td>
            <td class="coluna-valor">{{ pagamento.valor_solicitado }}</td>
            <td class="coluna-numero">{{ pagamento.n_parcelas }}</td>
            <td class="coluna-numero">{{ pagamento.n_parcelas_pagas }}</td>
            <td>{{pagamento.status_pagamento}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  
  <div id="listaDepartamentos" class="listaProcessos" style="display: none;">
    
  </div>
  
  <!-- <button id="myBtn">Criar um novo projeto</button> -->
  
  <div id="myModal" class="modal">
    <!-- O restante do seu código aqui -->
  </div>
  
  <!-- O restante do seu código aqui -->
  
  <script>
    function showList(listId) {
      // Ocultar todas as listas
      document.getElementById('listaProjetos').style.display = 'none';
      document.getElementById('listaPagamentos').style.display = 'none';
      document.getElementById('listaDepartamentos').style.display = 'none';
  
      // Mostrar a lista selecionada
      document.getElementById(listId).style.display = 'block';
    }
  </script>
  </body>
  </html>