<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administração</title>
</head>
<body>
  <h1>Usuários</h1>
  <ul>
  {% for user in users %}
      <li>{{ user.username }} - Departamento: {{ user.departamento }}</li>
  {% endfor %}
  </ul>

    <h1>Cadastrar Usuário</h1>
    <form method="post">
        {% csrf_token %}
        <label for="username">Nome de usuário:</label>
        <input type="text" id="username" name="username" required>
        <label for="departamento">Departamento:</label>
        <select id="departamento" name="departamento" required>
        {% for departamento in departamentos %}
            <option value="{{ departamento }}">{{ departamento }}</option>
        {% endfor %}
        </select>
        <button type="submit">Criar usuário</button>
    </form>
    {% if password %}
    <p>A senha do novo usuário é: {{ password }}</p>
    {% endif %}
</body>
</html>