{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <script src="{% static 'barraPesquisa.js' %}"></script>
  <link rel="stylesheet" href="{% static 'asgo.css' %}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fundarpe - ASGO</title>
</head>
<body>

  <img src="{% static 'images/logomarcafundarpe.png' %}" alt="Logo da UNAT">

  <h1>ASGO</h1>

  <div class="listaProcessos">
    <h2>Projetos: </h2>

    <input type="text" id="myInput" onkeyup="filterProjects()" placeholder="Pesquisar Projeto">

    <ul id="myUL">
      <!-- Implementacao do READ com um for. -->
      {% for projeto in projetos %}
      <li>
        {{ projeto.n_projeto }} - {{ projeto.titulo_projeto }}
        <button class="add-button" n-projeto="{{ projeto.n_projeto }}" onclick="document.getElementById('formTitle').scrollIntoView({ behavior: 'smooth' });">+</button>
      </li>
      {% endfor %}
    </ul>
  
    <div class="formulario" style="position: sticky;">
      <h2 id="formTitle">Adicionar Informações</h2>
      <form action="{% url 'cadastrar_empenho'%}" id="formularioProjeto" method="post">
        {% csrf_token %}

        <div class="elementos">
          Projeto: <big><u id="nome_projeto"></u></big>
        </div>
  
        <div class="elementos">
          <label for="n_projeto">Nº do Projeto:</label>
          <input list="projetos" id="n_projeto" name="n_projeto" required>
        </div>
        
        <datalist id="projetos">
          {% for projeto in projetos %}
            <option value="{{ projeto.n_projeto }}">{{ projeto.titulo_projeto }}</option>
          {% endfor %}
        </datalist>
  
        <div class="elementos">
          <label for="n_empenho">Número do empenho:</label>
          <input type="number" id="n_empenho" name="n_empenho" required>
        </div>
        
        <div class="elementos">
          <label for="data_empenho">Data de confecção do empenho:</label>
          <input type="date" id="data_empenho" name="data_empenho" required>
        </div>
  
        <div class="elementos">
          <button type="submit">Adicionar</button>
        </div>
    </div>

    </form>
  </div>
  <div id="resultado"></div>
  <script>
    document.getElementById("formularioProjeto").addEventListener("submit", function(event) {
      document.getElementById("resultado").innerText = "adicionado com sucesso!";
    });

    var addButtons = document.querySelectorAll(".add-button");
    for (var i = 0; i < addButtons.length; i++) {
      addButtons[i].addEventListener("click", function(event) {
        event.preventDefault();
        var n_projeto = this.getAttribute("n-projeto");
        document.getElementById("n_projeto").value = n_projeto;
        updateNomeProjeto(n_projeto);
      });
    }

    document.getElementById("n_projeto").addEventListener("change", function() {
      updateNomeProjeto(this.value);
    });

    function updateNomeProjeto(n_projeto) {
      var option = document.querySelector('#projetos option[value="' + n_projeto + '"]');
      var nome_projeto = option ? option.text.split(' - ')[0] : '';
      document.getElementById("nome_projeto").innerText = nome_projeto;
    }
  </script>
</body>
</html>