<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fundarpe - ASJU</title>
</head>
<body>
  <h1>ASJU</h1>
  <div>
    <h2>Projetos: </h2>
    <ul>
    <!-- Implementacao do READ com um for. -->
    {% for projeto in projetos %}
    <li>
      {{ projeto.n_projeto }} - {{ projeto.titulo_projeto }}
    </li>
  {% endfor %}
    </ul>
  </div>
        
  <div id="form2" class="form">
    <h2>Confecção do Termo </h2>
    <form action="{% url 'cadastrar_asju' %}" id="formularioProjeto" method="POST">
      {% csrf_token %}
      <div>
        <label for="n_projeto">Nº do Projeto:</label>
        <select  id="n_projeto" name="n_projeto">
          {% for projeto in projetos %}
            <option value="{{ projeto.n_projeto }}">{{ projeto.titulo_projeto }}</option>
          {% endfor %}
        </select>
        <br>
        
        <label for="n_termoaceite">Nº do Termo:</label>
        <input type="number" id="n_termoaceite" name="n_termoaceite" required><br>
  
        <label for="data_operacao">Data assinatura do termo:</label>
        <input type="date" id="data_operacao" name="data_operacao" required><br>
        
        <input type="hidden" id="nome_operacao" name="nome_operacao" value="Assinatura do termo"><br>
  
        <button type="submit">Enviar</button>
      </div>
    </form>
  </div>
  
 
 
  <script>
    document.getElementById("formularioProjeto").addEventListener("submit", function(event) {
      document.getElementById("resultado").innerText = "enviado com sucesso!";

    });
  </script>
 
</body>
</html>