{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <link rel="stylesheet" href="{% static 'seju.css' %}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fundarpe - ASJU</title>
</head>
<body>

  <img src="{% static 'images/logomarcafundarpe.png' %}" alt="Logo da UNAT">
    
  <h1>ASJU</h1>
  
  <div class="listaProcessos">
    <div class="formulario">
      <h2>Confecção do Termo </h2>
      <form action="{% url 'cadastrar_asju' %}" id="formularioProjeto" method="POST">
        {% csrf_token %}
        <div>
          <label for="browser">Nº do Projeto:</label>
          <input type="text" list="n_projeto">
  
          <datalist  id="n_projeto" name="n_projeto">
            {% for projeto in projetos %}
              <option value="{{ projeto.n_projeto }}">{{ projeto.titulo_projeto }}</option>
            {% endfor %}
          </datalist>
            
          <div class="elementos">
            <label for="n_termoaceite">Nº do Termo:</label>
            <input type="number" id="n_termoaceite" name="n_termoaceite" required>
          </div>
      
          <div class="elementos">
            <label for="data_operacao">Data assinatura do termo:</label>
            <input type="date" id="data_operacao" name="data_operacao" required>
          </div>
            
          <div class="elementos">
            <input type="hidden" id="nome_operacao" name="nome_operacao" value="Assinatura do termo">
          </div>
      
          <div class="elementos">
            <button type="submit">Enviar</button>
          </div>
  
        </div>
      </form>
    </div>
  </div>

  <div class="resultado"></div>
  
  <script>
    document.getElementById("formularioProjeto").addEventListener("submit", function(event) {
      document.getElementById("resultado").innerText = "enviado com sucesso!";

    });
  </script>
 
</body>
</html>