<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar</title>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body>
    <h1>Editar Projeto </h1>

    <h2>{{ projeto.n_projeto }} - {{ projeto.titulo_projeto }}</h2>
    <form action="{% url 'atualizar' projeto.n_projeto %}" id="formularioProjeto" method="post">
        {% csrf_token %}
        <label for="n_projeto">Nº do Projeto:</label>
        <input type="number" id="n_projeto" name="n_projeto" value="{{ projeto.n_projeto }}" required><br>
    
        <label for="titulo_projeto">Titulo do Projeto:</label>
        <input type="text" id="titulo_projeto" name="titulo_projeto" value="{{ projeto.titulo_projeto }}" required><br>
    
        <label for="n_sei">N° do SEI:</label>
        <input type="number" id="n_sei" name="n_sei" value="{{ projeto.n_sei }}" required><br>
    
        <label for="n_empenho">N° do Empenho:</label>
        <input type="number" id="n_empenho" name="n_empenho" value="{{ projeto.n_empenho }}" required><br>
    
        <label for="data_solicitacao">Data da Solicitação:</label>
        <input type="date" id="data_solicitacao" name="data_solicitacao" value="{{ projeto.data_solicitacao|date:'Y-m-d' }}" required><br>
    
        <label for="status_projeto">Status do Projeto:</label>
        <input type="text" id="status_projeto" name="status_projeto" value="{{ projeto.status_projeto }}" required><br>
    
        <label for="n_termoaceite">N° do Termo de Aceite:</label>
        <input type="number" id="n_termoaceite" name="n_termoaceite" value="{{ projeto.n_termoaceite }}" required><br>

        <label for="reponsavel_termo">Responsável pelo Termo de Aceite:</label>
        <input type="text" id="responsavel_termo" name="responsavel_termo" value="{{ projeto.reponsavel_termo }}" required><br>
       
        <button type="submit">Editar</button>
    </form>
      <div id="resultado"></div>
      <script>
        document.getElementById("formularioProjeto").addEventListener("submit", function(event) {
          document.getElementById("resultado").innerText = "editado com sucesso!";
    
        });
      </script>
      
    <h2>Deletar Projeto</h2>
      <form action="{% url 'deletar' projeto.n_projeto %}" method="post" onsubmit="return confirm('Tem certeza que deseja deletar este projeto?');">
        {% csrf_token %}
        <button type="submit">Deletar</button>
    </form>
</body>
</html>