{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <script src="{% static 'barraPesquisa.js' %}"></script>
  <link rel="stylesheet" href="{% static 'seju.css' %}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fundarpe - SEJU</title>
</head>
<body>

  <img src="{% static 'images/logomarcafundarpe.png' %}" alt="Logo da UNAT" style="width: 200px; height: 61px;">

  <h1>SEJU</h1>
  
  <div class="listaProcessos">
  
    <div class="formulario">
      <h2 id="formTitle">Projetos Pendentes</h2>
          
      <form action="{% url 'cadastrar_seju' %}" id="formularioProjeto" method="POST">
        {% csrf_token %}
        <div class="elementos">
          <label for="n_projeto">Escolha o projeto:</label>
          <input type="text" id="n_projeto" name="n_projeto" list="projetos_datalist">
      
          <datalist id="projetos_datalist">
              {% for projeto in projetos %}
                  <option value="{{ projeto.n_projeto }}">{{ projeto.titulo_projeto }}</option>
              {% endfor %}
          </datalist>
      </div>
  
        <div class="elementos">
          <label for="data_operacao">Data do visto do termo:</label>
          <input type="date" id="data_operacao" name="data_operacao" required><br>
        </div>
  
        <div class="elementos">
          <input type="hidden" id="nome_operacao" name="nome_operacao" value="Visto do termo">
        </div>
  
        <div class="elementos">
          <button type="submit">Enviar</button>
        </div>
  
      </form>
    </div>
  </div>

  <div id="resultado"></div>

  <script>
    document.getElementById("formularioProjeto").addEventListener("submit", function(event) {
      document.getElementById("resultado").innerText = "enviado com sucesso!";
    });
  </script>
</body>
</html>
