{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <link rel="stylesheet" href="{% static 'dif.css' %}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fundarpe - UAFF</title>
</head>
<body>


  <img src="{% static 'images/logomarcafundarpe.png' %}" alt="Logo da UNAT">

  <h1>UAFF</h1>
  
  <div class="menu">
    <button id="myBtn" class="myBtn menu-btn" onclick="showlist('form1')">Conferência da Documentação</button>
    <button id="myBtn" class="myBtn menu-btn" onclick="showlist('form2')">Envio para Confecção do Termo</button>
    <button id="myBtn" class="myBtn menu-btn" onclick="showlist('form3')">Envio termo a proponente e recebimento doc assinado</button>
  </div>

  <div class="listaProcessos">
    <div id="form1" class="formularioProjeto">

      <h2>Conferência da Documentação</h2>
      
      <form action="{% url 'cadastro_uaff' %}" id="formularioProjeto" method="POST">
        {% csrf_token %}
  
          <label for="browser">Nº do Projeto:</label>
          <input type="text" list="n_projeto" id="browser">
  
          <datalist id="n_projeto" name="n_projeto">
            {% for projeto in projetos %}
              <option value="{{ projeto.n_projeto }}">{{ projeto.titulo_projeto }}</option>
            {% endfor %}
          </datalist>
  
          <div class="elementos">
            <label for="data_operacao">Data Conferência da Documentação:</label>
            <input type="date" id="data_operacao" name="data_operacao" required>
          </div>
    
          <input type="hidden" id="nome_operacao" name="nome_operacao" value="Conferência da Documentação">
    
          <div class="elementos">
            <button type="submit">Enviar</button>
          </div>
          
        </div>
      </form>
  
      <div class="resultado"></div>
  
    </div>
  
    <div id="form2" class="formularioProjeto" style="display: none;">
  
      <h2>Envio para Confecção do Termo </h2>
      
      <form action="{% url 'cadastro_uaff' %}" id="formularioProjeto" method="POST">
        {% csrf_token %}
  
          <label for="browser">Nº do Projeto:</label>
          <input type="text" list="n_projeto" id="browser">
  
          <datalist  id="n_projeto" name="n_projeto">
            {% for projeto in projetos %}
              <option value="{{ projeto.n_projeto }}">{{ projeto.titulo_projeto }}</option>
            {% endfor %}
          </datalist>
  
          <div class="elementos">
            <label for="data_operacao">Data Envio para Confecção do Termo:</label>
            <input type="date" id="data_operacao" name="data_operacao" required>
          </div>
          
          <input type="hidden" id="nome_operacao" name="nome_operacao" value="Envio para Confecção do Termo">
    
          <div class="elementos">
            <button type="submit">Enviar</button>
          </div>
  
      </form>
  
      <div class="resultado"></div>
  
    </div>
    
    <div id="form3" class="formularioProjeto" style="display: none;">
  
      <h2>Envio termo a proponente e recebimento doc assinado</h2>
      
      <form action="{% url 'cadastro_uaff1' %}" id="formularioProjeto" method="POST">
        {% csrf_token %}
  
          <label for="browser">Nº do Projeto:</label>
          <input type="text" list="n_projeto" id="browser">
  
          <datalist id="n_projeto" name="n_projeto">
            {% for projeto in projetos %}
              <option value="{{ projeto.n_projeto }}">{{ projeto.titulo_projeto }}</option>
            {% endfor %}
          </datalist>
  
  
          <div class="elementos">
            <label for="data_envio">Data de Envio termo a proponente:</label>
            <input type="date" id="data_envio" name="data_envio" required>
          </div>
          
          <div class="elementos">
            <label for="data_recebimento">Data recebimento doc assinado:</label>
            <input type="date" id="data_recebimento" name="data_recebimento" required>
          </div>
    
          <div class="elementos">
            <input type="hidden" id="nome_envio" name="nome_envio" value="Envio termo a proponente">
            <input type="hidden" id="nome_operacao" name="nome_operacao" value="Recebimento doc assinado">
          </div>
          
          <div class="elementos">
            <button type="submit">Enviar</button>
          </div>
          
        </div>
      </form>
      <div id="resultado"></div>
    </div>
  </div>
 
  <script>
    document.getElementById("formularioProjeto").addEventListener("submit", function(event) {
      document.getElementById("resultado").innerText = "Enviado com sucesso!";
    });
  </script>

  <script>
    function showList(listId) {
      // Ocultar todas as listas
      document.getElementById('form1').style.display = 'none';
      document.getElementById('form2').style.display = 'none';
      document.getElementById('form3').style.display = 'none';

      // Mostrar a lista selecionada
      document.getElementById(listId).style.display = 'block';
    }
  </script>
 
</body>
</html>