<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="\static\modal.js" type="text/javascript" defer></script>
  <link rel="stylesheet" href="\static\unat.css">
  <title>Fundarpe - UNAT</title>
</head>
<body>
  <h1>UNAT</h1>
  <div>
    <h2>Projetos: </h2>
    <ul>
    <!-- Implementacao do READ com um for. -->
    {% for projeto in projetos %}
    <li>
      {{ projeto.n_projeto }} - {{ projeto.titulo_projeto }}
      <button id="myBtn">Editar</button>
      
      <div id="myModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" >
        <div class="modal-content">
          <span class="close">&times;</span>

          <div class="container">

            <h2>Editar Projeto</h2>

            <form action="{% url 'cadastrar_projeto' %}" id="formularioProjeto" method="post">
              {% csrf_token %}
              <div class="elementos">
                <label for="n_projeto">Nº do Projeto:</label>
                <input type="number" id="n_projeto" name="n_projeto" required><br>
              </div>
          
              <div class="elementos">
                <label for="titulo_projeto">Titulo do Projeto:</label>
                <input type="text" id="titulo_projeto" name="titulo_projeto" required><br>
              </div>
          
              <div class="elementos">
                <label for="n_sei">N° do SEI:</label>
                <input type="number" id="n_sei" name="n_sei" required><br>
              </div>
          
              <div class="elementos">
                <label for="valor_solicitado">Valor solicitado:</label>
                <input type="number" id="valor_solicitado" name="valor_solicitado" step="0.01" required><br>
              </div>
          
              <div class="elementos">
                <label for="n_parcelas">Número de Parcelas:</label>
                <input type="number" id="n_parcelas" name="n_parcelas" required><br>
              </div>
          
              <div class="elementos">
                <button type="submit">Salvar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </li>
  {% endfor %}
    </ul>
  </div>

  <h2>Cadastrar Projeto</h2>
  <form action="{% url 'cadastrar_projeto' %}" id="formularioProjeto" method="post">
    {% csrf_token %}
    <div class="elementos2">
      <label for="n_projeto">Nº do Projeto:</label>
      <input type="number" id="n_projeto" name="n_projeto" required><br>
    </div>

    <div class="elementos2">
      <label for="titulo_projeto">Titulo do Projeto:</label>
      <input type="text" id="titulo_projeto" name="titulo_projeto" required><br>
    </div>

    <div class="elementos2">
      <label for="n_sei">N° do SEI:</label>
      <input type="number" id="n_sei" name="n_sei" required><br>
    </div>

    <div class="elementos2">
      <label for="valor_solicitado">Valor solicitado:</label>
      <input type="number" id="valor_solicitado" name="valor_solicitado" step="0.01" required><br>
    </div>

    <div class="elementos2">
      <label for="n_parcelas">Número de Parcelas:</label>
      <input type="number" id="n_parcelas" name="n_parcelas" required><br>
    </div>

    <div class="elementos2">
      <button type="submit">Enviar</button>
    </div>
  </form>
  <div id="resultado"></div>
  <script>
    document.getElementById("formularioProjeto").addEventListener("submit", function(event) {
      document.getElementById("resultado").innerText = "enviado com sucesso!";

    });
  </script>
 
</body>
</html>
